In [1]:
import numpy as np
import pandas as pd

In [13]:
df = pd.read_csv('dataset/2.txt',delimiter=' ',header = None)
target = pd.read_csv('dataset/3.txt',header = None)

In [14]:
df = df.iloc[:, :-2]
df.head(20)
target

      0
0     2
1     0
2     3
3     3
4     1
5     1
6     4
7     2
8     2
9     2
10    1
11    1
12    1
13    4
14    4
15    2
16    2
17    3
18    3
19    1
20    1
21    4
22    4
23    0
24    1
25    0
26    3
27    3
28    0
29    2
...  ..
1312  2
1313  2
1314  0
1315  1
1316  3
1317  2
1318  2
1319  2
1320  4
1321  4
1322  3
1323  3
1324  3
1325  1
1326  1
1327  2
1328  2
1329  4
1330  4
1331  1
1332  1
1333  3
1334  3
1335  2
1336  2
1337  4
1338  4
1339  1
1340  1
1341  1

[1342 rows x 1 columns]

In [4]:
all_data = []

In [5]:
blocks = []
for index, row in df.iterrows():
    if row.isnull().all():
        all_data += [np.array([blocks])]
        blocks = []
        continue
    else:
        blocks += [np.array(row)]
        #print(row[0],index)

In [11]:
all_data = np.array(all_data)
all_data = all_data.reshape(all_data.shape[0],all_data.shape[2],all_data.shape[3])

In [15]:
target = np.array(target)

In [16]:
target.shape

(1342, 1)

In [40]:
import time

from pyqcore.client import SimpleQCoreClient
from pyqcore.examples.jpvow import load_jpvow
from sklearn import model_selection
from sklearn.metrics import accuracy_score, f1_score
from sklearn.neural_network import MLPClassifier
from sklearn.linear_model import LogisticRegression
from sklearn import svm

In [41]:

    # Train: 80% / Test: 20%
    X_train, X_test, y_train, y_test = model_selection.train_test_split(
        all_data, target, test_size=0.15, random_state=1
    )

In [42]:
y_test.shape

(202, 1)

In [46]:
    # compare other models
    X_train = X_train.reshape(len(X_train), -1).astype(np.float64)
    X_test = X_test.reshape(len(X_test), -1).astype(np.float64)
    y_train = np.ravel(y_train)
    y_test = np.ravel(y_test)
    
    print("===LogisticRegression(Using Sklearn)===")
    start = time.time()
    lr_cls = LogisticRegression(C=0.5)
    lr_cls.fit(X_train, y_train)
    elapsed_time = time.time() - start
    print("elapsed_time:{0}".format(elapsed_time) + "[sec]")
    res = lr_cls.predict(X=X_test)
    print("acc=", accuracy_score(y_test.tolist(), res))
    print("f1=", f1_score(y_test.tolist(), res, average="weighted"))

===LogisticRegression(Using Sklearn)===

/home/share/.conda/envs/py36/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/home/share/.conda/envs/py36/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

elapsed_time:1.8861794471740723[sec]
acc= 0.8415841584158416
f1= 0.8097021823241031

/home/share/.conda/envs/py36/lib/python3.6/site-packages/sklearn/metrics/classification.py:1143: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [34]:
all_data[0].shape

(20, 61)

In [45]:
from joblib import dump, load
dump(lr_cls, "yanyixiansb.joblib")

['yanyixiansb.joblib']

In [49]:
X_test.shape

(202, 1220)